<launch>
		<arg name="vend" default="1027"/>
		<arg name="prod" default="24577"/>
		<arg name="rate" default="100"/>
		<arg name="number" default="4"/>
		<arg name="config" default="false"/>

	<node pkg="gps_target" name="target" type="gps_target_node" output="screen">
		<param name="vend" value="$(arg vend)"/>
		<param name="prod" value="$(arg prod)"/>
		<param name="rate" value="$(arg rate)"/>
		<param name="number" value="$(arg number)" unless="$(arg config)" />
		<rosparam param="origin_geo">[38.7319435, -9.1315461, 0]</rosparam>
	</node>

</launch>
