<launch>
		<arg name="vend" default="1027"/>
		<arg name="prod" default="24577"/>


	<node pkg="gps_target" name="target" type="gps_target_node" output="screen">
		<param name="vend" value="$(arg vend)"/>
		<param name="prod" value="$(arg prod)"/>
		<rosparam param="origin_geo">[38.7319435, -9.1315461, 0]</rosparam>
	</node>

</launch>
