<launch>
		<arg name="vend" default="1027"/>
		<arg name="prod" default="24577"/>
		<arg name="rate" default="40"/>
		<arg name="NMEA" default="1"/>
		<arg name="config" default="False"/>
		<arg name="debug" default="False"/>
		<arg name='survey' default="False"/>
		<arg name='USB' default="True"/>
		<arg name='port' default="0"/>
		

	<group if="$(eval arg('debug') == 0)">
    	<node pkg="gps_target" name="target" type="gps_target_node" output="screen">
			<param name="vend" value="$(arg vend)"/>
			<param name="prod" value="$(arg prod)"/>
			<param name="rate" value="$(arg rate)"/>
			<param name="NMEA" value="$(arg NMEA)"/>
			<param name="config" value="$(arg config)"/>
			<param name="survey" value="$(arg survey)"/>
			<param name="USB" value="$(arg USB)"/>
			<param name="port" value="$(arg port)"/>
			<rosparam param="origin_geo">[39.457674, -8.680636, 0]</rosparam>
		</node>
  	</group>
	
	<group if="$(eval arg('debug') == 1)">
    	<node pkg="gps_target" name="target" type="gps_target_node_debug" output="screen"  >
			<param name="vend" value="$(arg vend)"/>
			<param name="prod" value="$(arg prod)"/>
			<param name="rate" value="$(arg rate)"/>
			<param name="NMEA" value="$(arg NMEA)"/>
			<param name="config" value="$(arg config)"/>
			<param name="survey" value="$(arg survey)"/>
			<param name="USB" value="$(arg USB)"/>
			<param name="port" value="$(arg port)"/>
			<rosparam param="origin_geo">[39.4588452, -8.6668376, 0]</rosparam>
		</node>
  	</group>

</launch>
